modules = ["python-3.11"]
[build]
system = "uvicorn[standard]"
command = "uvicorn main:app --host 0.0.0 --port 8000"

[deploy]
run = "python3 main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["cargo", "glibcLocales", "libiconv", "libxcrypt", "openssl", "pkg-config", "postgresql", "rustc"]

[deployment]
run = ["sh", "-c", "PORT=8000 python3 main.py"]
deploymentTarget = "vm"

[env]
PYTHONPATH = "$PYTHONPATH:."

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "api-server"

[[workflows.workflow]]
name = "api-server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8000 python3 main.py"
waitForPort = 8000

[agent]
expertMode = true
integrations = ["python_database:1.0.0"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 36595
externalPort = 3000

[[ports]]
localPort = 41417
externalPort = 3001
