[run]
command = "python main.py"

[packager]
language = "python3"
version = "3.11"

[unitTest]
language = "python3"
version = "3.11"

[deployment]
run = ["python", "main.py"]
healthcheckPath = "/health"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10

[env]
PYTHONPATH = "$PYTHONPATH:."
