{
    "openapi": "3.1.0",
    "info": {
        "title": "CryptoSatX MAXIMAL - Ultimate AI Crypto Signal Engine",
        "description": "\ud83d\ude80 MAXIMAL VERSION: Ultimate crypto trading intelligence with OpenAI GPT-4, Smart Money Concepts, whale tracking, and institutional-grade analysis. Features real-time signals, risk management, portfolio optimization, and automated trading strategies.",
        "version": "3.0.0-MAXIMAL",
        "contact": {
            "name": "CryptoSatX Support",
            "url": "https://guardiansofthetoken.org"
        }
    },
    "servers": [
        {
            "url": "https://guardiansofthetoken.org",
            "description": "CryptoSatX Production API"
        }
    ],
    "paths": {
        "/signals/{symbol}": {
            "get": {
                "summary": "\ud83c\udfaf Get MAXIMAL AI Signal",
                "description": "Generate ultimate trading signal using 10-factor AI analysis with OpenAI GPT-4 validation. Returns signal with confidence scoring, risk assessment, and AI reasoning.",
                "operationId": "getMaximalSignal",
                "parameters": [
                    {
                        "name": "symbol",
                        "in": "path",
                        "required": true,
                        "description": "Cryptocurrency symbol. Supports 100+ cryptocurrencies including BTC, ETH, SOL, AVAX, DOGE, SHIB, and all major altcoins.",
                        "schema": {
                            "type": "string",
                            "example": "BTC"
                        }
                    },
                    {
                        "name": "include_ai_validation",
                        "in": "query",
                        "description": "Include OpenAI GPT-4 validation and reasoning",
                        "schema": {
                            "type": "boolean",
                            "default": true
                        }
                    },
                    {
                        "name": "risk_level",
                        "in": "query",
                        "description": "Risk tolerance level (conservative, moderate, aggressive)",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "conservative",
                                "moderate",
                                "aggressive"
                            ],
                            "default": "moderate"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\ud83d\ude80 MAXIMAL signal with AI validation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "symbol": {
                                            "type": "string"
                                        },
                                        "signal": {
                                            "type": "string",
                                            "enum": [
                                                "LONG",
                                                "SHORT",
                                                "NEUTRAL"
                                            ]
                                        },
                                        "score": {
                                            "type": "number"
                                        },
                                        "confidence": {
                                            "type": "string"
                                        },
                                        "aiValidation": {
                                            "type": "object",
                                            "properties": {
                                                "recommendation": {
                                                    "type": "string"
                                                },
                                                "confidence": {
                                                    "type": "string"
                                                },
                                                "reasoning": {
                                                    "type": "string"
                                                },
                                                "riskAssessment": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/openai/analyze/{symbol}": {
            "get": {
                "summary": "\ud83e\udde0 OpenAI GPT-4 Analysis",
                "description": "Get comprehensive market analysis using OpenAI GPT-4. Includes sentiment analysis, risk assessment, opportunity detection, and trading recommendations with confidence scoring.",
                "operationId": "getOpenAIAnalysis",
                "parameters": [
                    {
                        "name": "symbol",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "ETH"
                        }
                    },
                    {
                        "name": "include_validation",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "default": true
                        }
                    },
                    {
                        "name": "include_market_context",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "default": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\ud83e\udde0 OpenAI GPT-4 comprehensive analysis"
                    }
                }
            }
        },
        "/openai/sentiment/market": {
            "get": {
                "summary": "\ud83d\udcca Market Sentiment Analysis",
                "description": "Analyze overall market sentiment using OpenAI GPT-4. Evaluates market psychology, identifies trends, and provides strategic positioning recommendations.",
                "operationId": "getMarketSentiment",
                "parameters": [
                    {
                        "name": "symbols",
                        "in": "query",
                        "description": "Comma-separated symbols to analyze (max 10)",
                        "schema": {
                            "type": "string",
                            "example": "BTC,ETH,SOL,AVAX,DOGE"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\ud83d\udcca Comprehensive market sentiment analysis"
                    }
                }
            }
        },
        "/smc/analyze/{symbol}": {
            "get": {
                "summary": "\ud83c\udfe6 Smart Money Concept Analysis",
                "description": "Identify institutional trading patterns including Break of Structure (BOS), Change of Character (CHoCH), Fair Value Gaps (FVG), and Order Blocks. Detects whale footprints and smart money movements.",
                "operationId": "analyzeSMC",
                "parameters": [
                    {
                        "name": "symbol",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "SOL"
                        }
                    },
                    {
                        "name": "timeframe",
                        "in": "query",
                        "description": "Analysis timeframe for institutional patterns",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "1MIN",
                                "5MIN",
                                "15MIN",
                                "1HRS",
                                "4HRS",
                                "1DAY"
                            ],
                            "default": "1HRS"
                        }
                    },
                    {
                        "name": "include_order_blocks",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "default": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\ud83c\udfe6 Smart Money Concept institutional analysis"
                    }
                }
            }
        },
        "/smart-money/scan": {
            "get": {
                "summary": "\ud83d\udc0b Whale Activity Scanner",
                "description": "Scan 100+ cryptocurrencies for whale accumulation/distribution patterns. Detects institutional buying before retail FOMO and distribution before dumps. Uses on-chain data, funding rates, and volume analysis.",
                "operationId": "scanWhaleActivity",
                "parameters": [
                    {
                        "name": "min_accumulation_score",
                        "in": "query",
                        "description": "Minimum accumulation score (0-10). 7+ = strong institutional buying",
                        "schema": {
                            "type": "integer",
                            "default": 7,
                            "minimum": 0,
                            "maximum": 10
                        }
                    },
                    {
                        "name": "min_distribution_score",
                        "in": "query",
                        "description": "Minimum distribution score (0-10). 7+ = strong institutional selling",
                        "schema": {
                            "type": "integer",
                            "default": 7,
                            "minimum": 0,
                            "maximum": 10
                        }
                    },
                    {
                        "name": "coins",
                        "in": "query",
                        "description": "Specific coins to scan (comma-separated). If not provided, scans all 100+ coins.",
                        "schema": {
                            "type": "string",
                            "example": "BTC,ETH,SOL,AVAX,DOGE,SHIB,MATIC,DOT"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\ud83d\udc0b Whale activity scan results with institutional signals"
                    }
                }
            }
        },
        "/smart-money/accumulation": {
            "get": {
                "summary": "\ud83d\udcc8 Whale Accumulation Finder",
                "description": "Find coins being accumulated by institutions and whales. Identifies buy-before-retail opportunities with high profit potential.",
                "operationId": "findAccumulation",
                "parameters": [
                    {
                        "name": "min_score",
                        "in": "query",
                        "description": "Minimum accumulation score (0-10). 8+ = maximum conviction",
                        "schema": {
                            "type": "integer",
                            "default": 8,
                            "minimum": 0,
                            "maximum": 10
                        }
                    },
                    {
                        "name": "exclude_overbought",
                        "in": "query",
                        "description": "Exclude overbought coins to reduce risk",
                        "schema": {
                            "type": "boolean",
                            "default": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\ud83d\udcc8 High-conviction whale accumulation opportunities"
                    }
                }
            }
        },
        "/portfolio/optimize": {
            "get": {
                "summary": "\ud83d\udcbc Portfolio Optimization",
                "description": "Get AI-optimized portfolio allocation based on current market conditions, risk tolerance, and investment goals. Uses modern portfolio theory with crypto-specific adjustments.",
                "operationId": "optimizePortfolio",
                "parameters": [
                    {
                        "name": "risk_tolerance",
                        "in": "query",
                        "description": "Risk tolerance level (1-10, where 1=very conservative, 10=very aggressive)",
                        "schema": {
                            "type": "integer",
                            "default": 5,
                            "minimum": 1,
                            "maximum": 10
                        }
                    },
                    {
                        "name": "investment_amount",
                        "in": "query",
                        "description": "Total investment amount in USD",
                        "schema": {
                            "type": "number",
                            "example": 10000
                        }
                    },
                    {
                        "name": "time_horizon",
                        "in": "query",
                        "description": "Investment time horizon",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "short_term",
                                "medium_term",
                                "long_term"
                            ],
                            "default": "medium_term"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\ud83d\udcbc AI-optimized portfolio allocation with risk metrics"
                    }
                }
            }
        },
        "/risk/assess/{symbol}": {
            "get": {
                "summary": "\u26a0\ufe0f Risk Assessment",
                "description": "Comprehensive risk assessment for cryptocurrency including volatility, liquidity, correlation, and market regime analysis. Provides risk score and mitigation strategies.",
                "operationId": "assessRisk",
                "parameters": [
                    {
                        "name": "symbol",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "BTC"
                        }
                    },
                    {
                        "name": "position_size",
                        "in": "query",
                        "description": "Position size in USD for risk calculation",
                        "schema": {
                            "type": "number",
                            "example": 5000
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\u26a0\ufe0f Comprehensive risk assessment with mitigation strategies"
                    }
                }
            }
        },
        "/market/comprehensive/{symbol}": {
            "get": {
                "summary": "\ud83d\udcca Comprehensive Market Data",
                "description": "Get complete market data from all providers (CoinAPI, Coinglass, LunarCrush, OKX) including price, volume, funding, open interest, social metrics, and technical indicators.",
                "operationId": "getComprehensiveData",
                "parameters": [
                    {
                        "name": "symbol",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "ETH"
                        }
                    },
                    {
                        "name": "include_technicals",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "default": true
                        }
                    },
                    {
                        "name": "include_social",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "default": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\ud83d\udcca Complete market data aggregation from all sources"
                    }
                }
            }
        },
        "/strategies/recommend": {
            "get": {
                "summary": "\ud83c\udfaf Trading Strategy Recommendations",
                "description": "Get AI-recommended trading strategies based on current market conditions, volatility, and regime. Includes entry/exit points, stop-loss, and take-profit levels.",
                "operationId": "getStrategies",
                "parameters": [
                    {
                        "name": "symbol",
                        "in": "query",
                        "description": "Specific symbol for strategy (optional, if not provided analyzes market-wide)",
                        "schema": {
                            "type": "string",
                            "example": "BTC"
                        }
                    },
                    {
                        "name": "strategy_type",
                        "in": "query",
                        "description": "Preferred strategy type",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "momentum",
                                "mean_reversion",
                                "breakout",
                                "trend_following",
                                "all"
                            ],
                            "default": "all"
                        }
                    },
                    {
                        "name": "timeframe",
                        "in": "query",
                        "description": "Trading timeframe",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "scalping",
                                "day_trading",
                                "swing",
                                "position"
                            ],
                            "default": "swing"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\ud83c\udfaf AI-recommended trading strategies with specific parameters"
                    }
                }
            }
        },
        "/trading/automate/{symbol}": {
            "post": {
                "summary": "\ud83e\udd16 Automated Trading Setup",
                "description": "Setup automated trading bot with AI-driven signals, risk management, and strategy execution. Requires API key authentication.",
                "operationId": "setupAutomatedTrading",
                "parameters": [
                    {
                        "name": "symbol",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "BTC"
                        }
                    }
                ],
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "requestBody": {
                    "description": "Automated trading configuration",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "strategy": {
                                        "type": "string",
                                        "example": "momentum"
                                    },
                                    "position_size": {
                                        "type": "number",
                                        "example": 1000
                                    },
                                    "risk_percentage": {
                                        "type": "number",
                                        "example": 2.0
                                    },
                                    "take_profit": {
                                        "type": "number",
                                        "example": 5.0
                                    },
                                    "stop_loss": {
                                        "type": "number",
                                        "example": 2.0
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "\ud83e\udd16 Automated trading bot configured successfully"
                    }
                }
            }
        },
        "/telegram/send-alert/{symbol}": {
            "post": {
                "summary": "\ud83d\udcf1 Send Professional Alert",
                "description": "Generate comprehensive trading signal and send professional alert to Telegram with charts, analysis, and actionable insights.",
                "operationId": "sendTelegramAlert",
                "parameters": [
                    {
                        "name": "symbol",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "ETH"
                        }
                    }
                ],
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "\ud83d\udcf1 Professional alert sent to Telegram successfully"
                    }
                }
            }
        },
        "/health/maximal": {
            "get": {
                "summary": "\ud83c\udfe5 MAXIMAL System Health",
                "description": "Complete system health check including all data providers, AI services, and performance metrics.",
                "operationId": "maximalHealthCheck",
                "responses": {
                    "200": {
                        "description": "\ud83c\udfe5 Complete system health status with performance metrics"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {},
        "securitySchemes": {
            "apiKey": {
                "type": "apiKey",
                "in": "header",
                "name": "X-API-Key",
                "description": "API key for protected endpoints. Get your key at /admin/api-keys"
            }
        }
    },
    "tags": [
        {
            "name": "Core Signals",
            "description": "\ud83c\udfaf AI-powered trading signals"
        },
        {
            "name": "OpenAI Integration",
            "description": "\ud83e\udde0 GPT-4 enhanced analysis"
        },
        {
            "name": "Smart Money",
            "description": "\ud83c\udfe6 Institutional pattern detection"
        },
        {
            "name": "Whale Tracking",
            "description": "\ud83d\udc0b Whale activity monitoring"
        },
        {
            "name": "Portfolio",
            "description": "\ud83d\udcbc Portfolio optimization"
        },
        {
            "name": "Risk Management",
            "description": "\u26a0\ufe0f Risk assessment & mitigation"
        },
        {
            "name": "Market Data",
            "description": "\ud83d\udcca Comprehensive market data"
        },
        {
            "name": "Strategies",
            "description": "\ud83c\udfaf Trading strategy recommendations"
        },
        {
            "name": "Automation",
            "description": "\ud83e\udd16 Automated trading"
        },
        {
            "name": "Alerts",
            "description": "\ud83d\udcf1 Telegram notifications"
        },
        {
            "name": "System",
            "description": "\ud83c\udfe5 Health & monitoring"
        }
    ]
}
